# === Docker ===

PROJECT_NAME=async_api_tests

# === General ===
ASYNC_API_HOST = 0.0.0.0
ASYNC_API_PORT = 8000
ASYNC_API_NAME = async_api_tests
ASYNC_API_DSN = http://${ASYNC_API_NAME}:${ASYNC_API_PORT}

REDIS_HOST=redis_tests
REDIS_PORT=6379
REDIS_DB_NUMBER=0
REDIS_DSN=redis://${REDIS_HOST}:${REDIS_PORT}/${REDIS_DB_NUMBER}

ES_HOST=elasticsearch_tests
ES_PORT=9200
ES_DSN=http://${ES_HOST}:${ES_PORT}