# === Docker ===

PROJECT_NAME=auth_tests

# === General ===
AUTH_HOST=0.0.0.0
AUTH_PORT=5001
AUTH_NAME=auth_tests
AUTH_PG_DEFAULT_SCHEMA=auth
AUTH_DSN=http://${AUTH_HOST}:${AUTH_PORT}

REDIS_HOST=redis_tests
REDIS_PORT=6379
REDIS_DB_NUMBER=0
REDIS_DSN=redis://${REDIS_HOST}:${REDIS_PORT}/${REDIS_DB_NUMBER}

PG_DB_NAME=movies_database
PG_USER=app
PG_PASSWORD=123qwe
PG_HOST=postgres_async_api
PG_PORT=5432
PG_DSN=postgresql://${PG_USER}:${PG_PASSWORD}@${PG_HOST}:${PG_PORT}/${PG_DB_NAME}